@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700;900&display=swap");

* {
  font-family: "Dancing Script", cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.postimg.cc/Jh4x3cH5/3.jpg);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}

/*! add edit page */

.add-edit-page form {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}

.add-edit-page form textarea {
  margin-top: 8px;
  outline: none;
}

.add-edit-page form textarea::placeholder {
  font-size: 16px;
}

/*! filters-block */
.filters-block {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.filters-block div {
  margin-right: 10px;
}

.filters-block > div:nth-child(2) {
  width: 150px;
}

.filters-block > div:nth-child(3) {
  width: 150px;
  margin-right: 20px;
  margin-left: 10px;
}

.products-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.order-button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/*! Detail page */

.detail-page {
  display: flex;
}
.detail-page-img {
  width: 50px;
}

.detail-left-img img {
  width: 100%;
}

.detail-right {
  width: 50%;
}

.detail-page h3 {
  font-style: 28px;
}

.detail-page li {
  list-style-type: none;
  font-style: 20px;
  margin: 8px 0;
}

/*! 404 page */

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

@media all and (max-width: 767px) {
  .detail-left-img {
    width: 100%;
  }

  .detail-right {
    width: 100%;
  }
}

.textfieldLabel {
  color: white !important;
}
